<div class="flexbox-parent" ng-controller="LoginCtrl as auth">
  <div layout="row" layout-align="center center">
    <md-content layout="column" layout-padding>
      <form name="login" layout="column">
        <md-input-container>
          <md-icon>account_circle</md-icon>
          <label>Email</label>
          <input required type="text" name="email" ng-model="auth.name">
          <div ng-messages="login.email.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <md-icon>lock</md-icon>
          <label>Password</label>
          <input required type="password" name="password" ng-model="auth.password">
          <div ng-messages="login.password.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <p ng-if="auth.message">{{auth.message}}</p>
        <md-button class="md-primary md-raised"
                   ng-click="auth.login(auth.name, auth.password)">Log In</md-button>
      </form>
    </md-content>
  </div>
</div>
