<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dormManagementToolApp" layout="column" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <md-toolbar layout-align="center" layout="row">
      <h1>Dorm Management Tool</h1>
    </md-toolbar>

    <div>
      <md-content layout="column" layout-gt-sm="row" layout-padding="5px">
        <div flex-md="50" flex-lg="30" layout="column" layout-padding="10px">
          <md-card id="userCard" ng-controller="UserCtrl as user">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Hello {{user.name}}!</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <p>You have currently {{user.duties.length}} duties:</p>
              <ul ng-repeat="duty in user.duties">
                <li>{{duty}}</li>
              </ul>
            </md-card-content>
          </md-card>
          <md-card id="garbageCard" ng-controller="GarbageCtrl as garbage">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Garbage Monitor</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <md-divider></md-divider>
              <md-list ng-repeat="garbageBag in garbage.bags">
                <md-list-item class="noright" layout="row" layout-xs="column" layout-padding="5">
                  <p flex-gt-xs="45">
                    <md-radio-group layout="row" ng-model="garbageBag.status">
                      <md-radio-button value="ok">ok</md-radio-button>
                      <md-radio-button value="almost full">almost full</md-radio-button>
                      <md-radio-button value="full">full</md-radio-button>
                    </md-radio-group>
                  </p>
                  <div flex-gt-xs="35" layout-align="left">
                    <h3>{{garbageBag.name}} waste bags</h3>
                    <p>(<i>Assigned to <b>{{garbageBag.responsible}}</b></i>)</p>
                  </div>
                  <md-button flex-gt-xs="20" class="md-raised">Empty Trash</md-button>
                </md-list-item>
                <md-divider></md-divider>
              </md-list>
            </md-card-content>
          </md-card>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/controllers/garbage.js"></script>
    <!-- endbuild -->
</body>
</html>
